<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Users Index</title>
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'login/css/style.css' %}" media="screen" title="no title" charset="utf-8">
        <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
    </head>
    <body>
        <div class="wrapper">
            <h1>Welcome!</h1>
            <div class="regi">
            <h2>Registration</h2>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name">
                    </div>
                    <div class="form">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name">
                    </div>
                    <div class="form">
                        <label for="email">Email</label>
                        <input type="email" name="email">
                    </div>
                    <div class="form">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div class="form">
                        <label for="password_confirm">Confirm Password</label>
                        <input type="password" name="password_confirm">
                    </div>
                    <input class="btn" type="submit" value='Register'>
                </form>
            </div>
            <div class="login">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="form">
                        <label for="email">Email</label>
                        <input type="email" name="email">
                    </div>
                    <div class="form">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <input class="btn" type="submit" value='Login'>
                </form>
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </body>
</html>